/* You can add global styles to this file, and also import other style files */
@import './assets/theme/theme';
@import './assets/theme/variable';


.vom-container {
   width: 100px;
   height: 100px;
   background-color:  $pink-red;
}

.vom-container2 {
    width: 100px;
    height: 100px;
    background-color:  $carbon-gray-90;
    // background-color:  var(--carbon-gray);
 }