/* You can add global styles to this file, and also import other style files */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;


//setup for priimeNg and tailwind compability
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
   @tailwind base;
}

@layer tailwind-utilities {
   @tailwind components;
   @tailwind utilities;
}


@import './assets/theme/theme';
@import './assets/theme/variable';

/* Order */
// @layer reset, primeng;
// @layer tailwind-base,  tailwind-utilities, primeng;

/* Reset CSS */
// @layer reset {
//     button,
//     input {
//         /* CSS to Reset */
//     }
//    //  h1 {
//    //    all: unset;
//    //  }
// }


:root {
   font-size: 16px;
}

body {
   font-size: 1rem;
   color: theme('colors.white');
   background-color: theme('colors.primary');
}

pre {
   font-size: 11px;
}